<!DOCTYPE html>

<footer>
    <p>&copy; 2025 Agile & Scrum Guide</p>
    <a href="https://asana.com/resources/agile-methodology" target="_blank" rel="noopener noreferrer">Source
        Link</a>
</footer>