<%- include("partials/header.ejs") %>

    <body>
        <h1> Famous Quotes - Admin Section </h1>
        <div class="contaniner">
        <form action="/author/new">
            <button>Add Authors</button>
        </form>
        <form action="/quote/new">
            <button>Add Quotes</button>
        </form>
        <form action="/authors">
            <button>List Authors</button>
        </form>
        <form action="/quotes">
            <button>List Quotes</button>
        </form>
        </div>
    

    <%- include("partials/footer.ejs") %>
    </body>
    </html>