* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #364156;
}

nav>a {
    color: rgb(37, 152, 194);
    text-decoration: none;
    /* color: #333; */
    padding: 10px 16px;
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
}

nav > a:hover {
  color: white;
  background-color: #58c7ef;
  border-radius: 10px;
}


body {
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, sans-se;
    background-color: #364156;
    text-align: center;
    display: flex;
    flex-direction: column;
    
    
    
}

.planetImg {
    width: 500px;
    margin-top: 20px;
    border-radius: 20px;
}

.mainBox {
    padding: 30px;
    /* background-color: #c4e0fecc; */
    /* background-color: #ebebeb; */
    background-color: #c4e0fee6;
    flex: 1;
    
    

    margin: 30px 100px;
    border-radius: 16px;
    min-width: 600px;
    

}

h1 {
    margin-bottom: 30px;
}

h2 {
    margin-top: 30px;
    margin-bottom: 10px;
}

h3 {
    margin-top: 30px;
    margin-bottom: 8px;
}

.longParagraph{
    text-align: justify;
    line-height: 1.5;
}

.webLink {
    margin-top: 30px;
}

a {
    color: black;
    font-weight: 700;
}

footer{
    padding: 20px 0;
    background-color: #3b4f71;
    
}

footer > p{
    color: #ebebeb;
    font-size: 12px;
    font-weight: 400;
}